<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<!--<h1>Hello everyone</h1>-->
<div style="width: 100%; height: 100%; position: relative; background: white">
    <div style="width: 983px; height: 88px; left: 229px; top: 0px; position: absolute; background: #D9D9D9"></div>
    <div style="left: 541px; top: 22px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">Digital Wallet System</div>
    <div style="width: 678px; height: 553px; left: 381px; top: 197px; position: absolute">
        <div style="width: 678px; height: 553px; left: 0px; top: 0px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 448px; height: 61px; left: 115px; top: 397px; position: absolute; background: #A41111"></div>
        <div style="width: 448px; height: 61px; left: 115px; top: 276px; position: absolute; background: #A41111"></div>
        <div style="width: 448px; height: 61px; left: 115px; top: 161px; position: absolute; background: #A41111"></div>
    </div>
    <div style="left: 639px; top: 603px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">Overview</div>
    <div style="left: 556px; top: 481px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">Account Statement</div>
    <div style="left: 578px; top: 366px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">Transfer Amount</div>
    <div style="width: 448px; height: 61px; left: 496px; top: 246px; position: absolute; background: #A41111"></div>
    <div style="left: 606px; top: 254px; position: absolute; color: black; font-size: 36px; font-family: Inter; font-weight: 400; word-wrap: break-word">Create Wallet</div>
</div>

</body>
</html>