<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Digital Wallet System</title>
</head>
<body>
<div style="height:100px; background-color: #D9D9D9">
  <h3 style="text-align:center; line-height:100px">Digital Wallet System</h3>
</div>
<br>

<div style = "height: 450px; background-color: #D9D9D9">
    <div style="width:200px; margin:auto">
        <a th:href="@{/homePage/create}" style="text-align:center; line-height: 50px; display: block">Create Wallet</a>
        <a th:href="@{/homePage/transfer}" style="text-align:center; line-height: 50px; margin:10px">Transfer Wallet</a>
<!--        <button style="background-color: #A41111; text-align:center; line-height: 50px; width: 200px; margin:10px">Transfer Amount</button>-->
        <button style="background-color: #A41111; text-align:center; line-height: 50px; width: 200px; margin:10px">Account Statement</button>
        <button style="background-color: #A41111; text-align:center; line-height: 50px; width: 200px; margin:10px">Overview</button>
    </div>
</div>
</body>
</html>